
.step-content#stepWorkingInformation h3 {
    margin-bottom: 10px;
}

#companyName{
    background: url(../images/icon-search.svg) no-repeat right 1px;
    padding-right: 25px;
}

input#companyName::-webkit-input-placeholder {
    color:#2d263b!important;
}
input#companyName:-moz-placeholder { /* Firefox 18- */
    color:#2d263b!important;
}

input#companyName::-moz-placeholder { /* Firefox 19+ */
    color:#2d263b!important;
}

input#companyName:-ms-input-placeholder {
    color:#2d263b!important;
}

#companyName::-ms-clear {
    display: none;
}

.btn-area {
    margin-top: 40px;
}